<p id="notice"><%= notice %></p>

<p>
  <b>Variable:</b>
  <%= @store.variable %>
</p>

<p>
  <b>Value:</b>
  <%= @store.value %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
