<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>

  <div class="field">
    <%= f.label :fulfilled %><br />
    <%= f.datetime_select :fulfilled %>
  </div>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>

  <div class="field">
    <%= f.label :milk %><br />
    <%= f.text_field :milk %>
  </div>
  
  <div class="field">
    <%= f.label :special_instructions %><br />
    <%= f.text_field :special_instructions %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
