<h1>Listing orders</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Placed</th>
    <th>Fulfilled</th>
    <th>Person</th>
    <th>Special Instructions</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.item %></td>
    <td><%= order.placed %></td>
    <td><%= order.fulfilled %></td>
    <td><%= order.person_id %></td>
    <td><%= order.special_instructions %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Complete Order', edit_order_path(order) %></td>
    <!-- <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
